NEXT_PUBLIC_CONTRACT_ADDRESS=0x0a83905002EaD855881a69E16211be9fE63E8709
NEXT_PUBLIC_REOWN_PROJECT_ID=6f9068694eb846a3346fdfdc3ed301e7
AYUDAPET_UPLOAD_SECRET=usa_el_mismo_secreto_configurado_en_hostverge
