NEXT_PUBLIC_CONTRACT_ADDRESS=0x45c0044933dc6E26E671eb99014b507BD21E9B8e
NEXT_PUBLIC_REOWN_PROJECT_ID=6f9068694eb846a3346fdfdc3ed301e7
AYUDAPET_UPLOAD_SECRET=usa_el_mismo_secreto_configurado_en_hostverge
